.header {
  width: 100%;
  box-sizing: border-box;
  background-color: #0033cc;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  max-width: 1400px;
  margin: 0 auto;
}

.header-inner h1 {
  width: 100%;
  text-align: center;
  color: white;
}